<h1><%= t('lexicon.login') %></h1>

<%= form_tag sessions_path, class: 'simple_form' do %>
  <div class="form-inputs">
    <div class="input email">
      <%= label_tag :email, t('lexicon.email') %>
      <%= email_field_tag :email, params[:email] %>
    </div>
    <div class="input password">
      <%= label_tag :password, t('lexicon.password') %>
      <%= password_field_tag :password %>
    </div>
    <div class="input remember_me">
      <%= label_tag :remember_me, t('.remember_me') %>
      <%= check_box_tag :remember_me %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag t('lexicon.login'), class: :button %>
  </div>
<% end %>

<p>
  <%= link_to t('.forgot_your_password'), new_password_reset_path %>
</p>
