<h1><%= t('.password_reset') %></h1>

<%= simple_form_for(@user, url: password_reset_path(params[:id])) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('lexicon.reset'), class: :button %>
  </div>
  
<% end %>
