<h1>Responses to <%= @vacancy.name %> vacancy at <%= @vacancy.company.name %></h1>

<% if can?(:invite_and_kick_people, @vacancy) %>
  <h2>Reviewers</h2>

  <ul class="vacancy-reviewers">
    <% @vacancy.reviewers.order(:first_name).each do |person| %>
      <%= render 'people/person', person: person, vacancy_id: @vacancy.id %>
    <% end %>
  </ul>

  <%= render 'shared/people_search' %>
<% end %>

<h2>Responded users</h2>

<ul>
  <% @vacancy.responses.each do |response| %>
    <li>
      <%= link_to response.user.full_name, vacancy_response_path(response.vacancy, response) %> |
      <%= response.content %>
    </li>
  <% end %>  
</ul>
