<%- class_for_main 'cloud-profile' -%>

<div class="vacancy-responses-wrapper">

  <h1>
    <%= link_to font_awesome('angle-left'), cloud_profile.vacancies_path %>
    Responses to <%= @vacancy.name %> vacancy at <%= @vacancy.company.name %>
  </h1>

  <% %w[accepted in_review pending declined].each do |status| %>
    <% responses = @vacancy.responses.select { |resonse| resonse.status == status } %>

    <% if responses.any? %>
      <h2 class="<%= status.dasherize %>">
        <%= status.humanize %>
      </h2>

      <% responses.each do |response| %>
        <%= render 'vacancy_response', response: response, status: status %>
      <% end %>
    <% end %>
  
  <% end %>

  <% if can?(:perform_admin_actions, @vacancy) %>
    <h2>Reviewers</h2>

    <ul class="vacancy-reviewers">
      <% @vacancy.reviewers.order(:first_name).each do |person| %>
        <%= render 'people/person', person: person, vacancy_id: @vacancy.id %>
      <% end %>
    </ul>

    <%= render 'shared/people_search' %>
  <% end %>
  
</div>
