<h1><%= @vacancy_response.vacancy.name %> response at <%= @vacancy_response.vacancy.company.name %> by <%= @vacancy_response.user.full_name %></h1>

<article>
  <section>
    <p>
      <%= @vacancy_response.content %>
    </p>
  </section>

  <h2>Voting</h2>
  <section class="voting">
    <%= render 'voting'  %>
  </section>

</article>

<h2>Comments</h2>

<%= simple_form_for @comment, remote: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input_field :commentable_id, as: :hidden %>
    <%= f.input_field :commentable_type, as: :hidden %>  
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<ul id="vacancy-response-comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</ul>

<%= link_to 'Back to list', vacancy_responses_path(@vacancy_response.vacancy) %>
