<article class="company-invite">

  <div class="author">
    <div data-react-mount-point="avatar"></div>
    <%= @author.full_name %> invited you to to manage this company:
  </div>

  <div class="company">
    <%= link_to company_path(@company) do %>
      <%= image_tag(@company.logotype.url) if @company.logotype %> <br>
      <strong><%= @company.name %></strong>
    <% end %>
    
    <p>
      <%= @company.industry.name %>, 
      <%= @company.country_name %>
    </p>

  </div>

  <% if current_user %>
    <p>
      If you want to join as the manager, please approve this invitation.
    </p>
    <p>
      <button class="orgpad">
        Approve
      </button>
    </p>
    <p>
      <%= link_to 'No, thanks', '#' %>
    </p>

  <% else %>
    <p>
      Since you're not logged in, please login or register to approve this invitation.
    </p>
    <p>
      <%= link_to 'Login', '#', class: 'login-link' %>
      <button class="orgpad">
        Register
      </button>
    </p>
    
  <% end %>
  
</article>
