<p>
  Hey <%= @user.full_name %>,
</p>

<p>
  Check what's new on <%= link_to ENV['SITE_NAME'], root_url %> for you:
</p>

<% if @insights.any? %>
  <h2>Insights</h2>

  <ul style="list-style: none;">
    <% @insights.each do |insight| %>
      <li>
        <%= link_to insight.content, insight_url(insight) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @pinboards.any? %>
  <h2>Collections</h2>

  <ul style="list-style: none;">
    <% @pinboards.each do |pinboard| %>
      <li>
        <%= link_to pinboard.title, collection_url(pinboard) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @pinboard_invites.any? %>
  <h2>Invites</h2>

  <ul style="list-style: none;">
    <% @pinboard_invites.each do |invite| %>
      <li>
        <%= link_to invite.pinboard.title, collection_url(invite.pinboard) %>
      </li>
    <% end %>
  </ul>
<% end %>

<p>
  You may disable email notifications in <%= link_to 'profile settings', "#{user_url(@user)}#settings" %>.
</p>
