<p>
  Hello<%= @user.present? ? " #{@user.full_name_or_email}" : '' %>, this is your captain speaking.
</p>

<p>
  You have been invited to join CloudChart as a member of <%= @company.name %>. Please click the following link to continue:
</p>

<p>
  <%= link_to "Review Invitation From #{@company.name}", company_invite_url(@company, @token) %>
</p>

<p>
  If you have nothing with <%= @company.name %>, please ignore this message.
</p>

<%= render 'shared/mailer_signature' %>
