<p class="text" style="margin:0;padding:0;padding:0 50px;width:85%;padding-top:50px;padding-bottom:10px">
  Hi, <%= @user.first_name %>,
</p>

<p class="text" style="margin:0;padding:0;padding:0 50px;width:85%;padding-bottom:10px">
  <%= @author.full_name %> (<%= link_to "@#{@author.twitter}", main_app.user_url(@author), target: "_blank" %>) has granted you access to <%= link_to @owner.name, main_app.company_url(@owner) %> company on Cloudchart.
</p>

<p style="margin:0;padding:0;padding:0 50px;width:85%">
  <%= link_to 'Join', main_app.company_url(@owner), style: 'color:#3bc462;font-weight:600;text-decoration:none;background-color:#3bc462;color:white;display:block;line-height:55px;margin:30px auto;height:55px;padding:0 30px;font-weight:300;font-size:24px;text-align:center;width:150px;' %>
</p>
