<p>
  Hello<%= @user.present? ? " #{@user.full_name_or_email}" : '' %>,
</p>

<p>
  You or someone else has changed <%= link_to @company.name, main_app.company_url(@company) %>'s site URL. Please put attached "cloudchart.txt" file in your website's root directory. When done, click the following link to continue (or use your <%= link_to 'company editor', main_app.company_url(@company) %>):
</p>

<p>
  <%= link_to "Verify #{@company.name} URL", '#' %>
</p>

<p>
  If you think it’s a mistake, just ignore this email.
</p>

<%= render 'shared/mailer_signature' %>
