<p>
  Hello <%= @user.name || @user.email %>,
</p>

<p>
  You has been invited as <%= @company.name %>'s employee at <%= link_to company_url(@company), company_url(@company) %>. You can accept invitation through the following link:
  <%= link_to associate_with_person_user_url(id: @token_id), associate_with_person_user_url(id: @token_id) %>
</p>

<p>If you don't work in <%= @company.name %>, please ignore this email.</p>
