<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Occupation</th>
      <th>User</th>
      <th>Company</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.uuid %></td>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.phone %></td>
        <td><%= person.occupation %></td>
        <td><%= person.user_id %></td>
        <td><%= person.company_id %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_company_person_path %>

<h1>Searching people</h1>

<p>
  <%= text_field_tag :query, nil, class: 'people-search' %>  
</p>
<p>
  <%= check_box_tag :facebook %>
  <%= label_tag :facebook %>
</p>

<div class="ajax-loader"></div>
<div class="search-result"></div>
