<p>
  <strong>Uuid:</strong>
  <%= @person.uuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @person.occupation %>
</p>

<p>
  <strong>User:</strong>
  <%= @person.user.try(:full_name) %>
</p>

<p>
  <strong>Company:</strong>
  <%= @person.company.name %>
</p>

<p>
  <strong>Company owner:</strong>
  <%= @person.is_company_owner? %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', company_people_path(@person.company) %>

<%# Company invite %>
<% unless @person.user_id.present? %>
  <h3>User invitation</h3>
  <p>
    <%= form_tag send_invite_to_user_person_path(@person) do %>
      <%= email_field_tag :email, nil, placeholder: 'Type email' %>
      <%= submit_tag 'Invite user' %>
    <% end %>
  </p>
<% end %>
