<p>
  <strong>Uuid:</strong>
  <%= @person.uuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @person.user.try(:name) %>
</p>

<p>
  <strong>Company:</strong>
  <%= @person.company.name %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', company_people_path(@person.company) %>
