<article class="interview">
  <header>
    <aside>
      <figure></figure>
    </aside>

    <div class="content">
      <h1>Founders Aboard!</h1>

      <p>
        Hi, <%= @interview.first_name %>!
      </p>

      <p>
        I’m Anton, co-founder and editor-in-chief at <%= link_to 'CloudChart', root_path %>. We’re on a mission to build a <strong>growth platform for founder education</strong> to kickstart and help the global entrepreneurial community outside Silicon Valley. We believe <strong>your advice can be valuable</strong> for our goal.
      </p>
    </div>
  </header>

  <section class="invite">
    <%= button_to 'Get Invited', accept_interview_path, method: :patch %>
  </section>

  <section>
    <p>
      You were referred by <%= mail_to @interview.ref_email, @interview.ref_name %><%= @interview.whosaid %>. I would like about <strong>30 minutes of your time</strong> to interview you about <%= @interview.company_name %>’s story, to integrate it into a <strong>study resource for founders</strong>. This is an analysis of how successful startups came to life and grew, processed into a very <strong>visual and informative guide for founders</strong>. Not a case study, but a very personal look at how your company has come to life. Here’s a sketch of our ‘Company Timeline’ tool that we’re building at CloudChart:
    </p>
  </section>

  <div class="timeline"></div>

  <section>
    <p>
      We’d also like to share that we already have several other founder tools <strong>ready for our pre-launch</strong>:
    </p>

    <div class="founder-tools">
      <div class="orgcharting">
        <figure></figure>

        <div class="description">
          An orgcharting tool in the cloud, best in its class (it’s a promise). Want to try it out?
        </div>
      </div>
      <div class="burn-rate">
        <figure></figure>

        <div class="description">
          A burn rate tool that is closely tied to our org. charts and presents your data in a visual way.
        </div>
      </div>
    </div>

    <p>
      I’m originally from Russia; I’ve been involved in <strong>tech journalism</strong> and <strong>futures studies</strong> for over 8 years. I also co-ran Thalient, a product development and consulting company from Moscow that worked with Intel and other companies on in-car and hyperlocation-based user experiences. I co-founded CloudChart because I see a <strong>tremendous shortage</strong> of concise smart materials illustrating the growth of early-stage companies. I am working on a resource that will turn a short-lived story in an article into a <strong>solid resource for wantrepreneurs and other founders</strong>.
    </p>
  </section>

  <footer>
    <h1>This Is How You Can Help</h1>

    <p>
      <%= @interview.first_name %>, If you’re based somewhere in SF Bay Area, or visiting, I’d be delighted to meet you personally for a coffee or lunch — preferably at your office or a coworking space. Otherwise, a Skype call or a Hangout will work as well. Thank you for taking your time and I'm looking forward to hearing from you.
    </p>

    <p>
      You can reach me personally at <%= mail_to 'anton@cloudchart.co' %> or <strong>+1 (917) 913-2937</strong>
    </p>

    <%= button_to 'Get Invited', accept_interview_path, method: :patch %>
  </footer>

</article>
