<article class="interview">
  <header>
    <figure></figure>

    <div class="content">
      <h1>Share Your Founder Story</h1>

      <p>
        Hi, <%= @interview.first_name %>!
      </p>

      <p>
        I’m Anton, co-founder and editor-in-chief at <%= link_to ENV['SITE_NAME'], root_path %>. We’re on a mission to <strong>help global entrepreneurs</strong> beyond Silicon Valley learn what they need to <strong>build successful startups</strong>. We’re already collected valuable advice from over a dozen companies, and <strong>I would love to add your voice</strong>.
      </p>
    </div>
  </header>

  <section class="invite">
    <%= button_to 'Get Invited', accept_interview_path, method: :patch %>
  </section>

  <section>
    <p>
      <% if @interview.ref_name.present? && @interview.ref_email.present? %>
        You were referred by <%= mail_to @interview.ref_email, @interview.ref_name %><%= @interview.whosaid %>. If
      <% else %>
        <%= @interview.first_name %>, if
      <% end %>
      
      you can give me <strong>30 minutes of your time</strong> for an interview, I will create a <strong>founder resource</strong> about your experiences with <%= @interview.company_name %>. Your entrepreneurial story will become part of a visual and informative <strong>guide book for aspiring founders</strong> around the world. Here’s a sketch of our ‘Company Timeline’ tool that we’re building at <%= ENV['SITE_NAME'] %>:
    </p>
  </section>

  <div class="timeline"></div>

  <section class="founder-tools">
    <p>
      We’d also like to share that we already have several other founder tools <strong>ready for our pre-launch</strong>:
    </p>

    <div class="wrapper">
      <div class="orgcharting">
        <figure></figure>

        <div class="description">
          An orgcharting tool in the cloud.
        </div>
      </div>
      <div class="burn-rate">
        <figure></figure>

        <div class="description">
          A burn rate tool that is closely tied to our org. charts and presents your data in a visual way.
        </div>
      </div>
    </div>
  </section>

  <section>
    <p>
      I’ve been involved in <strong>tech journalism</strong> and <strong>futures studies</strong> for over 8 years. I also co-ran Thalient, a product development and consulting company from Moscow that worked with Intel and other companies on in-car navigation systems. At <%= ENV['SITE_NAME'] %> we see a <strong>tremendous shortage</strong> of concise and helpful resources illustrating the growth of early-stage companies. I am working on a resource that will turn a short-lived story in an article into a <strong>solid resource</strong> for wantrepreneurs and other founders.
    </p>
  </section>

  <footer>
    <div class="wrapper">
      <h1>This Is How You Can Help</h1>

      <p>
        <%= @interview.first_name %>, If you’re based somewhere in SF Bay Area, or visiting, I’d be delighted to meet you personally for a coffee or lunch — preferably at your office or a coworking space. Otherwise, a Skype call or a Hangout also works. Thank you for taking your time to read this and I look forward to hearing from you.
      </p>

      <p>
        You can reach me personally at <%= mail_to 'anton@insights.vc' %> or <strong>+1 (917) 913-2937</strong>
      </p>

      <%= button_to 'Get Invited', accept_interview_path, method: :patch %>
    </div>
  </footer>

</article>
