<h1>Listing vacancies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Salary</th>
      <th>Location</th>
      <th>Company</th>
      <th>Accessible to</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vacancies.each do |vacancy| %>
      <% if can?(:read, vacancy) %>
        <tr>
          <td><%= vacancy.name %></td>
          <td><%= vacancy.description %></td>
          <td><%= vacancy.salary %></td>
          <td><%= vacancy.location %></td>
          <td><%= vacancy.company.name %></td>
          <td><%= t(".#{vacancy.settings.accessible_to}") %></td>
          <td><%= link_to 'Respond', respond_vacancy_path(vacancy) unless current_user.vacancies.include?(vacancy) %></td>
          <td><%= link_to 'Show', vacancy %></td>
          <td><%= link_to 'Destroy', vacancy, method: :delete, data: { confirm: 'Are you sure?' } if can?(:destroy, vacancy) %></td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacancy', new_company_vacancy_path %>


