<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', company_vacancies_path(@company) %>

<%= render 'shared/company_side_nav', company: @vacancy.company, source: Vacancy %>

<h1>Page content</h1>

<% Vacancy::SECTIONS.each do |key, value| %>
  <h2>
    <%= link_to '#', class: 'anchor toggleable-link', id: value do %>
      <i class="fa fa-caret-down"></i>
      <%= key %>
    <% end %>
  </h2>

  <div class="toggleable-content">
    <%= render "vacancies/sections/#{value}" %>
  </div>

<% end %>
