<div class="block">
  <%= simple_form_for(object) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.simple_fields_for(:block) do |builder| %>
        <%= builder.input :kind, collection: Block::KINDS, include_blank: false %>
        <%= builder.input :position %>
        <%= builder.input :owner_id, as: :hidden %>
        <%= builder.input :owner_type, as: :hidden %>
      <% end %>

      <%= render "#{object.class.table_name}/attributes", f: f %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>

      <% unless object.new_record? %>
        <%= render 'shared/block_actions', object: object %>
      <% end %>
    </div>

  <% end %>
</div>
