<div class="block">
  <%= simple_form_for(object) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.simple_fields_for(:block) do |builder| %>
        <%= builder.input :kind, collection: Block::KINDS, include_blank: false %>
        <%= builder.input :position %>
        <%= builder.input :owner_id, as: :hidden %>
        <%= builder.input :owner_type, as: :hidden %>
      <% end %>

      <%= render "#{object.class.table_name}/shared_attributes", f: f %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to t('destroy'), object, method: :delete, data: { confirm: t('messages.confirm') } unless object.new_record? %>
    </div>

  <% end %>
</div>
