<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% unless @user.new_record? %>
      <%= f.input :avatar %>
      <%= f.input :name %>
      <%= f.input :phone %>
    <% end %>

    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: :button %>
  </div>
  
<% end %>
