<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% unless @user.new_record? %>

      <%= image_tag f.object.try(:avatar).try(:image_url) %>
      <%= f.simple_fields_for :avatar, @user.avatar.present? ? @user.avatar : @user.build_avatar, include_id: false do |avatar| %>
        <%= avatar.input :image %>
      <% end %>

      <%= f.input :phone %>
    <% end %>

    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, required: @user.new_record? ? true : false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, @user.new_record? ? t('lexicon.sign_up') : t('lexicon.save'), class: :button %>
  </div>
  
<% end %>
