<div data-react-class="components/profile/settings" data-react-props="<%= { uuid: @user.id }.to_json %>">
</div>

<% content_for :header_breadcrumbs do %>
  <div class="breadcrumbs">
    <%= link_to main_app.user_path(@user), class: 'back-link' do -%>
      <i class="fa fa-chevron-left"></i>
    <% end %>

    <div class="company-name">
      <span>
        <%= @user.full_name %>
      </span>
    </div>
  </div>
<% end %>

<% content_for :header_menu do %>
  <%= render 'shared/users/header_menu' %>
<% end %>

<%= content_for :class_for_main, 'user-profile' %>
