<aside class="blocks" data-behaviour="editable-article-blocks">
  <ul class="block-types">
    <li class="title">
      <span>
        <%= t('blocks.title') %>
      </span>
      <i class="fa fa-arrow-left"></i>
    </li>

    <% collection.each do |key, val| %>
      <li class="draggable-block" data-behaviour="draggable <%= key.underscore %>" data-type="<%= key %>">
        <i class="fa <%= t "blocks.#{key.underscore}" %>"></i>
        <span><%= key %></span>
      </li>
    <% end %>
  </ul>
</aside>
