<header class="company">

  <div class="breadcrumbs">
    <%= link_to current_user ? cloud_profile.root_path : main_app.root_path, class: 'back-link' do -%>
      <i class="fa fa-chevron-left"></i>
    <%- end -%>

    <div class="company-name" data-company-name-mount-point>
      <span>
        <%= @company.name %>
      </span>
    </div>
  </div>
  
  <div class="router" data-company-router-mount-point>
    <ul>
      <li>
        <%= link_with_class_for_current('Summary', main_app.company_path(@company), 'base') %>
      </li>
      <li>
        <%= link_with_class_for_current('Chart', cloud_blueprint.company_chart_path(@company, @company.chart.slug), 'base') %>
      </li>

      <% if can?(:manage, @company) || can?(:fully_read, @company) %>
        <li>
          <%= link_with_class_for_current('Finance', main_app.finance_company_path(@company), 'base') %>
        </li>

        <li>
          <%= link_with_class_for_current('Settings', main_app.settings_company_path(@company), 'base') %>
        </li>
      <% end %>
      <%# link_to 'Traction', '#', class: 'base' %>
    </ul>
  </div>
  
  <div class="spacer">
  </div>
  
  <% if can?(:list, :companies) %>
    <div class="browse-companies">
      <%= link_to 'Browse Companies', main_app.companies_path, class: 'base strong' %>
    </div>
  <% end %>
  
  <div>
    <%- if content_for(:authentication).present? -%>
      <%= yield :authentication %>
    <%- else -%>
      <%= render partial: 'shared/header_authentication' %>
    <%- end -%>    
  </div>
  
</header>
