<article data-behaviour="droppable" data-droppable-target="article">
  <%= render 'shared/new_block_form', object: object %>

  <% object.class.const_get('SECTIONS').each do |title, section| %>
    <h2 id="<%= section %>">
      <%= title %>
    </h2>

    <section data-name="<%= section %>" data-behaviour="<%= 'droppable' unless custom_section?(object.class, section) %>">
      <% if custom_section?(object.class, section) %>
        <%= render "#{object.class.table_name}/sections/#{section}" %>
      <% else %>
        <%= render partial: 'shared/block', collection: object.blocks_by_section(section) -%>
      <% end %>
    </section>

  <% end %>

</article>
