<ul>
  <li>
    <%= link_to t('.about_us', default: 'About us'), '' %>
  </li>
  <li>
    <%= link_to t('.privacy_policy', default: 'Privacy Policy'), '' %>
  </li>
  <li>
    <%= link_to t('.blog', default: 'Blog'), '' %>
  </li>
  <li>
    <%= link_to t('.press', default: 'Press'), '' %>
  </li>
  <li>
    <%= link_to t('.support', default: 'Support'), '' %>
  </li>
  <li>
    <%= link_to t('.contacts', default: 'Contacts'), '' %>
  </li>
</ul>