<header class="white">


  <a href="/" class="logo">Cloud<strong>Chart</strong></a>


  <div class="search">
    <%= font_awesome('search') %>
    <%= text_field_tag :q, nil, placeholder: t('.search_placeholder', default: 'Find companies and people'), autocomplete: :off %>
  </div>
  

  <div class="spacer">
  </div>
  

  <ul class="links">
    <li>
      <%= link_to t('.why_charting', default: 'Why charting?'), '' %>
    </li>
    <li>
      <%= link_to t('.companies', default: 'Companies'), '' %>
    </li>
    <li>
      <%= link_to t('.success_stories', default: 'Success stories'), '' %>
    </li>
    <li>
      <%= link_to t('.pricing', default: 'Pricing'), '' %>
    </li>
  </ul>
  
  
  <%- if user_authenticated? -%>
    <%= link_to font_awesome('sign-out'), cloud_profile.logout_path, class: 'sign-out' %>
  <%- else -%>
    <%= link_to t('.log-in', default: 'Log In'), cloud_profile.login_path, class: 'log-in' %>
    <%= link_to font_awesome('pencil') + t('.sign-up', default: 'Sign Up'), cloud_profile.register_path, class: 'sign-up' %>
  <%- end -%>
  
</header>
