<%- header_class = yield(:class_for_header) -%>

<header>

  <%= link_to "", main_app.root_path, class: 'logo' %>

  <%- if content_for(:title).present? -%>
    <%= yield :title %>
  <%- else -%>
    <div data-header-react-mount-point>
      <%= link_to main_app.root_path, class: :title do -%>
        <small>Org</small>Pad
      <%- end -%>
    </div>
  <%- end -%>
  

  <div class="spacer"></div>

  <%= yield :header %>
  
  <div class="spacer"></div>

  <%- if content_for(:search).present? -%>
    <%= yield :search %>
  <%- else -%>
    <%= render partial: 'shared/header_search' %>
  <%- end -%>

  <%= render partial: 'shared/header_authentication' %>
  
</header>
