<%- if user_authenticated? -%>

  <%= link_to current_user.full_name_or_email, settings_user_path(current_user), class: 'profile auth' %>
  <%= link_to font_awesome('external-link-square'), cloud_profile.logout_path, class: 'sign-out header square auth' %>

<%- else -%>

  <%= link_to "Log In", cloud_profile.login_path, class: 'auth' %>

  <button class="cc <%= yield(:class_for_header_authentication) %>" data-behaviour="invite-button">
    <span>
      Invited?
    </span>
    <%= font_awesome "ticket" %>
  </button>

<%- end -%>
