<%- header_class = yield(:class_for_header) -%>

<header class="<%= header_class %>">

  <%= link_to "", main_app.root_path, class: 'logo' %>

  <%- if content_for(:title).present? -%>
    <%= yield :title %>
  <%- else -%>
    <div data-header-react-mount-point>
      <%= link_to main_app.root_path, class: :title do -%>
        <small>Cloud</small>Chart
      <%- end -%>
    </div>
  <%- end -%>
  

  <div class="spacer"></div>

  <%= yield :header %>

  <!--
  <%# if current_user %>
    <ul class="welcome-links">
      <li><%# link_to t('.companies', default: 'Companies'), main_app.companies_path %></li>
    </ul>
  <%# end %>
  -->
  
  <div class="spacer"></div>

  <%- if content_for(:search).present? -%>
    <%= yield :search %>
  <%- else -%>
    <%= render partial: 'shared/header_search' %>
  <%- end -%>

  <%- if content_for(:authentication).present? -%>
    <%= yield :authentication %>
  <%- else -%>
    <%= render partial: 'shared/header_authentication' %>
  <%- end -%>
  
</header>
