<% if content_for(:header_breadcrumbs).present? %>
  <%= yield :header_breadcrumbs %>
<% else %>
  <%= link_to "", main_app.root_path, class: 'logo' %>
  <div data-header-react-mount-point>
    <%= link_to main_app.root_path, class: 'title' do %>
      <%= app_name_for_header %>
    <% end %>
  </div>
<% end %>

<%= yield :header_menu %>

<div class="spacer"></div>

<% if content_for(:search).present? %>
  <div data-react-class="components/company/search" data-react-props="<%= { query: params[:query] }.to_json %>"></div>
<% elsif can?(:list, :companies) %>
  <div class="browse-companies">
    <%= link_to 'Browse Companies', main_app.companies_path, class: 'base strong' %>
  </div>
<% end %>

<%= render partial: 'shared/header_authentication' %>
