<% if content_for(:header_breadcrumbs).present? %>
  <%= yield :header_breadcrumbs %>
<% else %>
  <%= link_to "", main_app.root_path, class: 'logo' %>
  <div data-header-react-mount-point>
    <%= link_to main_app.root_path, class: :title do -%>
      <small>Cloud</small>Chart
    <% end %>
  </div>
<% end %>

<%= yield :header_menu %>

<div class="spacer"></div>

<% if content_for(:search).present? %>
  <%= yield :search %>
<% elsif can?(:list, :companies) %>
  <div class="browse-companies">
    <%= link_to 'Browse Companies', main_app.companies_path, class: 'base strong' %>
  </div>
<% end %>

<%= render partial: 'shared/header_authentication' %>
