<%- header_class = yield(:class_for_header) -%>

<header>

  <%= link_to "", main_app.root_path, class: 'logo' %>

  <div data-header-react-mount-point>
    <%= link_to main_app.root_path, class: :title do -%>
      <small>Org</small>Pad
    <%- end -%>
  </div>
  
  <div class="spacer"></div>



  <!--ul class="links">
    <li>
      <%= link_to 'Why OrgPad?', '#' %>
    </li>
    <li>
      <%= link_to 'Companies', main_app.companies_path %>
    </li>
    <li>
      <%= link_to 'Pricing', '#' %>
    </li>
  </ul-->
  
  <%= render partial: 'shared/header_search' %>

  <%= render partial: 'shared/header_authentication' %>
  
</header>
