<%- if user_authenticated? -%>

  <%= link_to current_user.full_name_or_email, cloud_profile.root_path, class: 'profile auth' %>
  <%= link_to font_awesome('external-link-square'), cloud_profile.logout_path, class: 'sign-out orgpad-button header square auth' %>

<%- else -%>

  <%= link_to "Log In", '', data: { behaviour: "login-button" } %>

  <button class="orgpad auth <%= yield(:class_for_header_authentication) %>" data-behaviour="invite-button">
    <span>
      Invited?
    </span>
    <%= font_awesome "ticket" %>
  </button>

<%- end -%>
