<%- header_class =  yield(:class_for_header) -%>
<header class="<%= header_class.blank? ? 'white' : header_class %>">


  <%= link_to main_app.root_path, class: 'logo' do %>
    Org<strong>Pad</strong>
  <% end %>


  <div class="search">
    <%= form_tag main_app.search_companies_path, remote: controller_name == 'companies' && action_name =~ /index|search/ ? true : false do %>
      <%= font_awesome('search') %>
      <%= text_field_tag :query, params[:query], placeholder: t('.search_placeholder', default: 'Search companies'), autocomplete: :off %>
    <% end %>
  </div>
  

  <div class="spacer">
  </div>
  

  <ul class="links">
    <li>
      <%= link_to 'Why OrgPad?', '#' %>
    </li>
    <li>
      <%= link_to 'Companies', main_app.companies_path %>
    </li>
    <li>
      <%= link_to 'Pricing', '#' %>
    </li>
  </ul>
  
  
  <div class="spacer">
  </div>


  <%- if user_authenticated? -%>
    <%= link_to current_user.full_name_or_email, cloud_profile.root_path, class: :profile %>
    <%= link_to font_awesome('sign-out'), cloud_profile.logout_path, class: 'sign-out' %>
  <%- else -%>
    <%= link_to t('.log-in', default: 'Log In'), cloud_profile.login_path, class: 'log-in' %>
    <%= link_to font_awesome('pencil') + t('.sign-up', default: 'Sign Up'), cloud_profile.register_path, class: 'sign-up' %>
  <%- end -%>
  
</header>
