<p>
  <%= ENV['SITE_NAME'] %> is a convenient tool to chart and profile your company. Use it to clarify your team structure, your products, your goals, and become transparent. Transparency benefits your teams, your partners, and your investors.
</p>
<p>
  <%= ENV['SITE_NAME'] %> is always free to use. If you have questions, want a product tour, or just want to talk about <%= ENV['SITE_NAME'] %>, simply reply to this email or write to <%= mail_to ENV['REPLY_TO_EMAIL'] %>
</p>
<p>
  Good luck using <%= ENV['SITE_NAME'] %>!
  <br>
  — Team <%= ENV['SITE_NAME'] %>
</p>
