<%- class_for_root_tag main: :welcome, header: :green -%>

<article>
  
  <section class="index">
    
    <h1>
      See how successful startups are structured. Learn by example. Adjust your own company structure.
    </h1>
    
    <%= link_to cloud_profile.login_path, class: 'orgpad-button' do -%>
      <span>
        <%= t '.button_title', default: 'Try it free' %>
      </span>
      <%= font_awesome 'magic' %>
    <%- end -%>
    
  </section>
  
</article>


<%- content_for :search do -%>
  <noscript></noscript>
<%- end -%>


<%- content_for :header do -%>
  <ul class="welcome-links">
    <li>
      <%= link_to 'Why OrgPad?', '#' %>
    </li>
    <li>
      <%= link_to 'Companies', main_app.companies_path %>
    </li>
    <li>
      <%= link_to 'Pricing', '#' %>
    </li>
  </ul>
<%- end -%>
