<% content_for :meta do %>
  <meta property="og:title" content="CloudChart" />
  <meta property="og:image" content="<%= image_url('cloudchart-logo-square.png') %>">
  <meta property="og:url" content="<%= root_url %>" />
  <meta property="og:description" content="CloudChart is a convenient tool to chart and profile your company. Use it to clarify your team structure, your products, your goals, and become transparent. Transparency benefits your teams, your partners, and your investors." />
<% end %>

<%- class_for_root_tag main: :newsplash, header: :inverse, footer: :inverse -%>

<header>
  <h1>
    <%= t('.newsplash.title').html_safe %>
  </h1>
  <p>
    <%= t('.newsplash.header').html_safe %>
  </p>
</header>

<section>
  
  <%= content_tag(:figure, nil, class: 'chart-preview', 
    data: {
      'react-chart-preview-mount-point' => @chart.id,
      'react-permalink' => @chart.permalink,
      'react-company-id' => @chart.company.to_param
    })
  %>
  
  <p>
    <%= t('.newsplash.note').html_safe %>
  </p>
  
  <button data-behaviour="invite-button">
    Request Invite
  </button>
  
</section>

<%- content_for :search, "&nbsp;".html_safe -%>

<%- content_for :authentication do -%>
  <%= link_to "Log In", '', data: { behaviour: "login-button" } %>

  <button class="orgpad inverse auth" data-behaviour="invite-button">
    <span>
      Invited?
    </span>
    <%= font_awesome "ticket" %>
  </button>
<%- end -%>
