<%- class_for_root_tag main: :newsplash, header: :inverse, footer: :inverse -%>

<header>
  <h1>
    <%= t('.newsplash.title').html_safe %>
  </h1>
  <p>
    <%= t('.newsplash.header').html_safe %>
  </p>
</header>

<section>
  
  <figure data-react-chart-preview-mount-point>
  </figure>
  
  <p>
    <%= t('.newsplash.note').html_safe %>
  </p>
  
  <button>
    Request Invite
  </button>
  
</section>


<%- pagescript_params chart_id: ENV['NEWSPLASH_CHART_ID'] -%>


<%- content_for :search, "&nbsp;".html_safe -%>

<%- content_for :authentication do -%>
  <%= link_to "Log In", cloud_profile.login_path %>

  <button class="orgpad inverse auth">
    <span>
      Invited?
    </span>
    <%= font_awesome "ticket" %>
  </button>
<%- end -%>