<%= link_to 'Verify event', verify_event_path(token_id: @event.token.id), method: :post if @event.token %> |
<%= link_to 'Edit event', edit_event_path(@event) %> |
<%= link_to 'Events', company_events_path(@event.company) %>

<div class="droppable-article-wrapper">

  <%= render 'shared/companies/side_nav', company: @event.company %>

  <article data-behaviour="droppable" data-droppable-target="article">
    <%# render partial: 'new_block_form' %>
    
    <%- Event::SECTIONS.each do |title, section| -%>
      
      <h2>
        <%= title %>
      </h2>
      
      <section data-name="<%= section %>">
        <%= render partial: 'shared/block', collection: @event.blocks_by_section(section) -%>
      </section>
      
    <%- end -%>
    
  </article>

  <%= render 'shared/blocks_editor', collection: Event::BLOCK_TYPES %>

</div>
