<%- block.identities.build if block.identities.blank? -%>

<%= simple_form_for block do |f| -%>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for block.plural_identity_name, block.identities, hidden_field_id: false do |identity_form| -%>
        <%= identity_form.input_field :id, as: :hidden, id: false if identity_form.object.persisted? %>

        <%= image_tag identity_form.object.image.thumb.url if identity_form.object.image.present? %>
        <%= identity_form.input :image %>
    <%- end -%>
  </div>

  <div class="form-actions">
    <%= f.button :submit -%>
    | <%= link_to "Delete", block, method: :delete %>
  </div>

<%- end -%>

<br />
