<%= form_for block do |form| -%>


  <%- block.identities.build  -%>

  <p>
    <%= form.fields_for block.plural_identity_name, block.identities, hidden_field_id: false do |identity_form| -%>
      <%= identity_form.hidden_field :id, id: false if identity_form.object.persisted? %>
      <%= identity_form.text_area :content, id: false %>
    <%- end -%>
  </p>

  <p>
    <%= form.submit -%>
    | <%= link_to "Delete", block, method: :delete %>
  </p>


<%- end -%>
