<%- block.block_identities.build -%>

<%- block_identity          = block.block_identities.first -%>
<%- block_identity.identity = block.identity_class.new if block_identity.identity.nil? -%>


<%= form_for block_identity.identity do |form| %>

    <%= form.hidden_field :block_id, value: block.id, size: 38 %>

    <p>
      <%= form.text_area :content, style: 'width: 100%', rows: 5 %>
    </p>
    
    <p>
      <%= form.submit %>
      | <%= link_to "Delete", block, method: :delete %>
    </p>

<%- end -%>
