<%- block.identities.build -%>

<%= form_for block do |form| -%>
  
  <%- block.identities.each do |identity| -%>
    <div class="person <%= identity.persisted? ? 'persisted' : 'new' %>">
      <%- if identity.persisted? -%>
        <i class="fa fa-user"></i>
        <%= select_tag :"block[identity_ids][]", options_from_collection_for_select(block.owner.people, :to_param, :name, identity.to_param), prompt: 'Delete this person', class: :edit, id: nil, data: { value: identity.to_param } %>
      <%- else -%>
        <%- people = block.owner.people - block.people -%>

        <%- if people.empty? -%>
          <span class="empty">
            No more people
          </span>
        <%- else -%>
          <%= select_tag :"block[identity_ids][]", options_from_collection_for_select(people, :to_param, :name), prompt: 'Add person', class: :new, id: nil %>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
  
<%- end -%>

<p>
  <%= link_to "Delete", block, method: :delete %>
</p>
