<%- block.identities.build -%>

<%= form_for block do |form| -%>
  
  <%- block.identities.each do |identity| -%>
    <div class="vacancy <%= identity.persisted? ? 'persisted' : 'new' %>">
      <%- if identity.persisted? -%>
        <%= hidden_field_tag :"block[identity_ids][]", identity.to_param %>
        <i class="fa fa-money"></i><%= identity.name %>
        <div class="delete" data-behaviour="delete-vacancy" data-vacancy-id="<%= identity.to_param %>"><i class="fa fa-thumbs-down"></i></div>
      <%- else -%>
        <%- vacancies = block.owner.vacancies - block.vacancies -%>

        <%- if vacancies.empty? -%>
          <span class="empty">
            No more vacancies
          </span>
        <%- else -%>
          <%= select_tag :"block[identity_ids][]", options_from_collection_for_select(vacancies, :to_param, :name), prompt: 'Add vacancy', class: :new, id: nil %>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
  
  
<%- end -%>
