<%- block.identities.build -%>

<%= form_for block do |form| -%>
  
  <%- block.identities.each do |identity| -%>
    <div class="vacancy <%= identity.persisted? ? 'persisted' : 'new' %>">
      <%- if identity.persisted? -%>
        <i class="fa fa-money"></i>
        <%= select_tag :"block[identity_ids][]", options_from_collection_for_select(block.owner.vacancies, :to_param, :name, identity.to_param), prompt: 'Delete this vacancy', class: :edit, id: nil, data: { value: identity.to_param } %>
      <%- else -%>
        <%- vacancies = block.owner.vacancies - block.vacancies -%>

        <%- if vacancies.empty? -%>
          <span class="empty">
            No more vacancies
          </span>
        <%- else -%>
          <%= select_tag :"block[identity_ids][]", options_from_collection_for_select(vacancies, :to_param, :name), prompt: 'Add vacancy', class: :new, id: nil %>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
  
<%- end -%>
<p>
  <%= link_to "Delete", block, method: :delete %>
</p>

