<%- block.identities.build if block.identities.blank? -%>

<%= simple_form_for block do |f| -%>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :"[vacancy_ids][]", collection: @vacancies %>
  </div>

  <div class="form-actions">
    <%= f.button :submit -%>
    | <%= link_to "Delete", block, method: :delete %>
  </div>

<%- end -%>

<br />
