<%= form_for @company do |form| -%>

  <label class="logo" for="company-logo-file-upload">
    <%= render partial: 'form_logo' %>
  </label>
  
  <label>
    <%= form.text_field :name, placeholder: t('.name_placeholder', default: 'Company Name'), class: :cloud %>
  </label>
  
  <label>
    <%= form.country_select :country, { priority_countries: ['RU', 'US'] }, { class: :cloud } %>
  </label>

  <label>
    <%= form.select :industry_ids, full_industries_collection, {}, class: :cloud %>
  </label>

  <label>
    <%= form.date_select :established_on, { start_year: Date.today.year - 100, end_year: Date.today.year }, { class: :cloud } %>
  </label>

  <button class="cloud">
    <%= font_awesome 'building-o' %>
    <%= t '.button_title', default: 'Create Company' %>
  </button>

<%- end -%>

<%= file_field_tag :image, id: 'company-logo-file-upload', data: { path: logo_company_path(@company) } %>
