<%= form_for @company do |form| -%>

  <label class="logo" for="company-logo-file-upload">
    <%= render partial: 'form_logo' %>
  </label>
  
  <label>
      <%= form.text_field :name, placeholder: t('.name_placeholder', default: 'Company Name'), class: :cloud %>
  </label>
  
  <label>
    <%= form.country_select :country, nil, {}, class: :cloud %>
  </label>

  <label>
    <%= form.select :industry_ids, full_industries_collection, {}, class: :cloud %>
  </label>

  <button class="cloud">
    <%= font_awesome 'building-o' %>
    <%= t '.button_title', default: 'Create Company' %>
  </button>

<%- end -%>

<%= file_field_tag :image, id: 'company-logo-file-upload', data: { path: logo_company_path(@company) } %>

<!--
<%= simple_form_for @company do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= display_logo(f.object) %>

    <%= f.simple_fields_for :logo, @company.logo.present? ? @company.logo : @company.build_logo, include_id: false do |logo| %>
      <%= logo.input :image %>
    <% end %>

    <%= f.input :name %>
    <%= f.input :country, collection: Country.all.sort, prompt: t('simple_form.prompts.country') %>
    <%= f.input :industry_ids, collection: full_industries_collection, label: t('lexicon.industry'), prompt: t('simple_form.prompts.industry') %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  
<% end %>
-->
