<%= simple_form_for @company do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= image_tag f.object.logo.image.thumb.url if f.object.logo.present? %>
    <%= f.simple_fields_for :logo, @company.logo.present? ? @company.logo : @company.build_logo do |logo| %>
      <%= logo.input :image %>
    <% end %>

    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  
<% end %>
