<h1>Editing company</h1>
<%= render 'companies/form' %>

<h1>Managing blocks</h1>
<div class="blocks">
  <%= render "blockable/shared_collection_form", collection: @blockables %>
</div>
<p>
  <%= link_to t("links.add.text_block"), new_text_path(company_id: @company.id), remote: true %>
  <%= link_to t("links.add.image_block"), new_image_path(company_id: @company.id), remote: true %>
</p>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>
