<article class="companies-search">
    
  <h1><%= t("companies.search.companies", count: @companies.size) %></h1>

  <nav>
    <ul>
      <li><%= link_to 'BASIC INFO', '#' %></li>
      <li><%= link_to 'VACANCIES', '#'  %></li>
      <li><%= link_to 'GEOGRAPHY', '#' %></li>
      <li><%= link_to 'KPIs', '#' %></li>
    </ul>
  </nav>

  <div class="search-result">
    <%= render partial: :company, collection: @companies %>
  </div>
  
</article>
