<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %> |
<%= link_to 'Vacancies', company_vacancies_path(@company) %> |
<%= link_to 'Add vacancy', new_company_vacancy_path(@company) %>

<h1>Sidebar</h1>

<p>
  <strong>Logo:</strong>
  <%= image_tag @company.logo.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<h1>Page content</h1>

<% Block::KINDS.each do |key, val| %>
  <% if @company.blocks.where(kind: val).any? %>
    <h2><%= key %></h2>
    <% @company.blocks.where(kind: val).each do |block| %>
      <p>
        <strong><%= block.blockable_type %></strong>
        <%= blockable_content(block) %>
        <%= block_actions(block) %>
      </p> 
    <% end %>
  <% end %>
<% end %>
