<%= link_to 'Edit', edit_company_path(@company) if can?(:update, Company) %>
<%= link_to 'Vacancies', company_vacancies_path(@company) if can?(:manage, Vacancy) %>
<%= link_to 'People', company_people_path(@company) if can?(:manage, Person) %>
<%= link_to 'Events', company_events_path(@company) if can?(:manage, Event) %>

<div class="droppable-article-wrapper">

  <%= render 'shared/companies/side_nav', company: @company %>

  <%= content_tag(:article, attributes_for_droppable_article) do %>
    <%= render 'new_block_form' %>
    
    <%- Company::SECTIONS.each do |title, section| -%>
      
      <h2 id="<%= section %>">
        <%= title %>
      </h2>
      
      <section data-name="<%= section %>">
        <%= render partial: 'shared/block', collection: @company.blocks_by_section(section) -%>
      </section>
      
    <%- end -%>
    
  <% end %>

  <%= render 'shared/blocks_editor', collection: Company::BLOCK_TYPES if can?(:update, Company) %>

</div>
