<% present @company do |company| %>
  <div class="companies-wrapper">

    <article>
      
      <%- Company::SECTIONS.each do |title, section| -%>
        
        <h2>
          <%= title %>
        </h2>
        
        <section>
          <%- @company.blocks_by_section(section).each do |block| -%>
            <div class="<%= block.identity_type %> identity-block">
              <%= render partial: "shared/blocks/#{block.type}", locals: { block: block } -%>
            </div>
          <%- end -%>
          <nav>
            <%= link_to "Add Text", company_blocks_path(@company, section: section, blockable_type: Paragraph.to_s), data: { method: :post } %>
            |
            <%= link_to "Add Image", company_blocks_path(@company, section: section, blockable_type: BlockImage.to_s), data: { method: :post } %>
          </nav>
        </section>
        
      <%- end -%>
      
      
    </article>

    <%= render partial: 'navigation', locals: { company: company } %>
    <%= render partial: 'blocks' %>

  </div>

<% end %>
