<% present @company do |company| %>
  <div class="companies-wrapper">
    <nav>
      <p>
        <%= company.logo %>
      </p>
      <p>
        <%= company.description %>
      </p>

      <ul class="company-sections">
        <% Company::SECTIONS.each do |key, value| %>
          <li><%= link_to key, "##{value}", class: 'bold' %></li>
        <% end %>    
      </ul>
      
    </nav>

    <article>
      <% Company::SECTIONS.each do |title, section| %>
        <h2 class="<%= company.empty_or_filled_section(section) %>" id="<%= section %>">
          <%= title %>
        </h2>
        <section>
          <%= render "companies/hints/#{section}", company: company %>

          <% company.shifted_blocks(section).each do |block| %>
            <%= company.blockable_content(block) %> 
          <% end %>

        </section>
      <% end %>

      <div class="temporary_nav">
        <%= link_to 'Edit', edit_company_path(@company) %> |
        <%= link_to 'Back', companies_path %> |
        <%= link_to 'Vacancies', company_vacancies_path(@company) %> |
        <%= link_to 'Add vacancy', new_company_vacancy_path(@company) %>
      </div>
      
    </article>

    <%= render partial: 'blocks' %>

  </div>

<% end %>
