<div class="companies-wrapper">

  <article data-behaviour="droppable" data-droppable-target="article">
    <%= render 'new_block_form' %>
    
    <%- Company::SECTIONS.each do |title, section| -%>
      
      <h2>
        <%= title %>
      </h2>
      
      <section data-name="<%= section %>">
        <%= render partial: 'shared/block', collection: @company.blocks_by_section(section) -%>
      </section>
      
    <%- end -%>
    
  </article>

  <%= render 'shared/companies/side_nav', company: CompanyDecorator.new(@company), source: Company %>
  <%= render 'shared/blocks_editor', collection: Company::BLOCK_TYPES %>

</div>
