<% decorate(company) do |company| %>

  <div id="<%= company.id %>" class="company-preview">
    <%= link_to main_app.company_path(company), class: "company-preview-link" do %>
      <header>
        <%= company.logo %>
      </header>
      <section class="middle">
        <div class="left">
          <div class="name">
            <%= company.name %>
          </div>
          <div class="description">
            <%= raw company.description %>
          </div>
        </div>
        <div class="right">
          <div class="size">
            <div class="vacancies">
              <span><%= company.vacancies.size %></span>
              <i class="fa fa-male"></i>
            </div>
            <div class="people">
              <span><%= company.people.size %></span>
              <i class="fa fa-male"></i>
            </div>
          </div>
          <!-- <div class="burn-rate">
            <span>$300K</span>
            <span class="units">month</span>
          </div> -->
        </div>
      </section>
      <section class="bottom">
        <p>
          <%= company.tags %>
        </p>
      </section>
    <% end %>
  </div>
<% end %>