<%
  # could it be done via collection from a controller?
  rendered_from ||= nil

  vacancies = if rendered_from == :cloud_profile
    company.vacancies
  else
    company.vacancies.select { |v| v.status == 'opened' }
  end

%>

<section id="<%= company.id %>">
  <header>
    <div class="main-info">
      <ul>
        <li>
          <% if rendered_from == :cloud_profile %>
            <span class="favorites-link">
              <%= render 'shared/favorites_link', object: company %>
            </span>
          <% end %>
          
          <strong><%= link_to company.name, main_app.company_path(company) %></strong>
        </li>

        <li class="industry">
          <%= company.industry.name rescue '' %>
        </li>

        <li class="spacer"></li>

        <li class="people-size">
          <%= link_to main_app.company_people_path(company) do %>
            <% # .size returns invalid number because of current_user.companies through people %>
            <% # counter cache is needed in the future %>
            <%= rendered_from == :cloud_profile ? company.people.count : company.people.size %>
            <%= font_awesome('male') %>
          <% end %>
        </li>

        <li class="vacancies-size">
          <%= link_to rendered_from == :cloud_profile ? cloud_profile.vacancies_path : main_app.company_vacancies_path(company) do %>
            <%= vacancies.size %>
            <%= font_awesome('briefcase') %>
          <% end %>
        </li>

        <li class="country">
          <%= company.country %>
        </li>
        
        <li class="established-on">
          <%= company.established_on.try(:year) %>
        </li>

        <% if current_user && rendered_from != :cloud_profile %>
          <li class="proximity">
            <div class="frame-<% proximity(company).index %>"></div>
          </li>
        <% end %>

        <li>
          <%= link_to font_awesome('chevron-down'), nil, class: 'toggle-elements' %>
        </li>
      </ul>
    </div>

    <% unless rendered_from == :cloud_profile %>

      <div class="additional-info">
        <ul>
          <% if current_user %>
            <li>
              <strong>Proximity:</strong>
              <%= proximity(company).message %>
            </li>
          <% end %>

          <%# how to display logo? %>
          <%# link_to display_logo(company), main_app.company_path(company) if display_logo(company) %>

          <%# TODO: add modal window for subscriptions form %>
           <% if can?(:manage, Subscription) && cannot?(:update, company) %>
            <li style="display: none;">
              <strong>Subscription:</strong>
              <% unless subscribed_to_company?(company) %>
                <%= render 'subscriptions/form', subscription: company.subscriptions.build %>
              <% else %>
                <%= link_to 'Unsubscribe', subscription_path(company.subscriptions.find_by(user_id: current_user.id)), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

    <% end %>

  </header>

  <% if company.charts.any? || rendered_from == :cloud_profile %>
    <div class="charts">
      <ul>
        <% company.charts.each do |chart| %>
          <li class="chart-preview-container">
          
            <div class="chart-preview" data-react-mount-point-for-chart="<%= chart.id %>"></div>

            <strong><%= link_to chart.title, cloud_blueprint.chart_path(chart) %></strong>
          </li>
        <% end %>

        <% if rendered_from == :cloud_profile %>
          <li>
            <div class="chart-preview">
              <%= link_to cloud_blueprint.new_company_chart_path(company) do %>
                <div class="plus"><%= font_awesome('plus') %></div>
              <% end %>
            </div>
            ADD CHART
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if vacancies.any? %>
    <div class="vacancies">
      <ul>
        <% vacancies.each do |vacancy| %>
          <li><%= link_to vacancy.name, main_app.vacancy_path(vacancy) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</section>
