<% decorate(company) do |company| %>

  <article id="<%= company.id %>" class="company-preview">
    <%= link_to main_app.company_path(company), class: "company-preview-link" do %>
      <header class="company-preview-header">
        <div class="company-preview-logo">
          <%= company.logo %>
        </div>
      </header>
      <div class="company-preview-info">
        <table class="company-preview-data">
          <tr>
            <td class="company-preview-name">
              <%= company.name %>
            </td>
            <td class="company-preview-size">
              <%= company.people.count %><i class="fa fa-male"></i>
            </td>
          </tr>
          <tr>
            <td class="company-preview-motto">
              <%= company.description %>
            </td>
            <td class="company-preview-burn-rate">
              <!-- $300K<span>month</span> -->
            </td>
          </tr>
        </table>
        <div class="company-preview-description">
          <p>
            <%= company.tags %>
          </p>
        </div>
      </div>
    <% end %>
  <!--   <div class="company-preview-buttons">
      <button class="cc">
        Decline
        <i class="fa fa-close"></i> 
      </button>
      <button class="cc decline">
        Accept
        <i class="fa fa-check"></i>
      </button>
    </div> -->
  </div>
<% end %>