<div class="router" data-company-router-mount-point>
  <ul>
    <li>
      <%= link_with_class_for_current('Summary', main_app.company_path(@company), 'base') %>
    </li>
    <li>
      <%= link_with_class_for_current('Chart', cloud_blueprint.company_chart_path(@company, @company.chart.slug), 'base') %>
    </li>

    <% if can?(:manage, @company) || can?(:fully_read, @company) %>
      <li>
        <%= link_with_class_for_current('Finance', main_app.finance_company_path(@company), 'base') %>
      </li>

      <li>
        <%= link_with_class_for_current('Users', main_app.company_access_rights_path(@company), 'base') %>
      </li>

      <li>
        <%= link_with_class_for_current('Settings', main_app.settings_company_path(@company), 'base') %>
      </li>
    <% end %>
  </ul>
</div>
