<nav data-behaviour="editable-article-nav sticky">
  <ul>
    <li class="logo">
      <%= render 'shared/companies/logo_remote_form', company: company %>
    </li>
    
    <li class="description">
      <% if can?(:update, company) %>
        <%= simple_form_for company, remote: true do |f| %>
          <%= f.input_field :description %>
        <% end %>
      <% else %>
        <%= company.description %>
      <% end %>
    </li>
    
    <li class="links">
      <ul>
        <%- klass.const_get('SECTIONS').each do |k, v| -%>
          <li>
            <%= link_to k, "##{v}", data: { :"scrollable-anchor" => "" } %>
          </li>
        <%- end -%>
      </ul>
    </li>
  </ul>

</nav>
