<nav data-behaviour="editable-article-nav sticky">
  <ul>
    <li class="logo">
      <%= company.logo %>

      <% if can?(:update, Company) %>
        <%= form_for company.object do |f| %>
          <span class="button small">
            <%= f.fields_for :logo, company.logo.present? ? company.object.logo : company.object.build_logo, include_id: false do |ff| %>
              <%= ff.file_field :image %>
            <% end %>
            <i class="fa fa-picture-o"></i>
            <%= t('companies.side_nav.upload_logo') %>
          </span>
          <%= f.submit %>
        <% end %>
      <% end %>

    </li>
    
    <li class="description">
      <textarea rows="2">Type your company description here. Be concise.</textarea>
    </li>
    
    <li class="links">
      <ul>
        <%- klass.const_get('SECTIONS').each do |k, v| -%>
          <li>
            <%= link_to k, "##{v}", data: { :"scrollable-anchor" => "" } %>
          </li>
        <%- end -%>
      </ul>
    </li>
  </ul>

</nav>
