<%= form_tag invite_path, html: { multipart: true, class: 'form-horizontal denser', data: { title: @page_name } } do |f| %>
  
  <fieldset>
    <div class="control-group">
      <%= label_tag :full_name, 'Full name', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :full_name %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :email, 'Email', class: 'control-label' %>
      <div class="controls">
        <%= email_field_tag :email %>
      </div>
    </div>
  </fieldset>  

  <%= render 'submit_buttons' %>

<% end %>
