<p>
  <%= form_tag search_pins_path do %>
    <fieldset>
      <%= label_tag :query %>
      <%= text_field_tag :query, params[:query], autofocus: true %>
    </fieldset>
  <% end %>
</p>

<ul>
  <% @result.each do |key, result| %>
    <li>
      <strong><%= result[:match_count] %>: </strong>
      <span><%= result[:pin].content %></span>
    </li>
  <% end %>
</ul>

<p>
  Size: <%= @result.size %>
</p>
