<article class="company-invite">

  <div class="author">
    <div data-react-mount-point="avatar"></div>
    <%= @author.full_name %> invited you to join this company:
  </div>

  <% if @company.logotype.present? %>
    <div class="company-logo">
      <%= link_to image_tag(@company.logotype.url), company_path(@company) %>
    </div>
  <% end %>

  <div class="company-name">
    <%= link_to @company.name, company_path(@company) %>
  </div>

  <% if user_authenticated? %>
    <p>
      If you want to join as <%= t("roles.#{@token.data[:role]}") %>, please accept this invitation.
    </p>

    <p>
      <div class="button green">
        <%= link_to 'Accept', accept_company_invite_path(@token.owner, @token), method: :post %>
      </div>
    </p>

    <p>
      <%= link_to 'No, thanks', company_invite_path(@token.owner, @token), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>

  <% else %>
    <p>
      Since you're not logged in, please log in or sign up to accept this invitation.
    </p>
    
    <p>
      <%= link_to "Log In", cloud_profile.login_path %>

      or
      
      <%= link_to "Sign Up", cloud_profile.signup_path(invite: Cloudchart::RFC1751.encode(@token.id).parameterize), class: "orgpad-button" %>
    </p>
    
  <% end %>
  
</article>
