<%- block.identities.build -%>

<%= form_for block.persisted? ? block  : [block.owner, block] do |form| -%>
  
  <%- block.identities.each do |identity| -%>
    <div class="company <%= identity.persisted? ? 'persisted' : 'new' %>">
      <%- if identity.persisted? -%>
        <i class="fa fa-building-o"></i>
        <%= select_tag :"block[identity_ids][]", options_from_collection_for_select(Company.all, :to_param, :name, identity.to_param), prompt: 'Delete this company', class: :edit, id: nil, data: { value: identity.to_param } %>
      <%- else -%>
        <%- companies = Company.all - block.companies -%>

        <%- if companies.empty? -%>
          <span class="empty">
            No more companies
          </span>
        <%- else -%>
          <%= select_tag :"block[identity_ids][]", options_from_collection_for_select(companies, :to_param, :name), prompt: 'Add company', class: :new, id: nil %>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
  
<%- end -%>

<%= link_to 'Destroy', block, method: :delete, data: { confirm: 'Are you sure?' } if block.persisted? && !block.is_locked? %>
