<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <%= favicon_link_tag "#{Rails.env}/favicon.ico" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <% if Rails.env.something_creepy? %>
      <link rel="stylesheet" href="http://basehold.it/24/ff0000" />
      <link rel="stylesheet" href="http://thalient.in/cchart/ccoverride.css" />
    <% end %>
  </head>

  <body class="<%= Rails.env %> <%= yield(:class_for_body) %>">
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>

    <main class="<%= yield(:class_for_main) %>">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>

    <div data-react-class="components/modal_stack"></div>

    <%- if show_welcome_tour? || params[:tour] == 'welcome' %>
      <div data-react-class="components/tour/welcome/trigger"></div>
    <%- end %>

    <%- if params[:tour] == 'insight' %>
      <div data-react-class="components/tour/insight/trigger"></div>
    <%- end %>

    <%= render 'shared/first_time_visit' %>

    <%= javascript_include_tag 'application' %>
    <%= pagescript unless controller_name == 'errors' %>
    <%= render 'shared/google_analytics' if Rails.env.production? %>
  </body>

</html>
