<!DOCTYPE html>
<html>
  <head>
    <title>CloudChart</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'shared/meta' %>
  </head>

  <body>
    <header class="<%= yield(:class_for_header) %>">
      <%= render 'shared/header' %>
    </header>

    <%= render 'shared/flash' %>
    
    <%= content_tag :main, class: yield(:class_for_main), data: { 'react-class' => yield(:react_class_for_main), 'react-props' => yield(:react_props_for_main) } do %>
      <%= yield %>
    <%- end -%>

    <footer class="<%= yield(:class_for_footer) %>">
      <%= render 'shared/footer' %>
    </footer>

    <div data-modal-mount-point></div>

    <%= javascript_include_tag 'application', debug: true %>
    <%= pagescript %>
    <%= render 'shared/google_analytics' if Rails.env.production? %>
  </body>

</html>
