<!DOCTYPE html>
<html>
  <head>
    <title>OrgPad</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=1200, user-scalable=no">
    <meta name="google-site-verification" content="BiiA-L9LRx9R-zVP5mRMM_Hhf6C-fI6s_h_qcEJV_jo" />
    <%= render 'shared/bugherd' if %w(production staging).include?(Rails.env) %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <%= render 'shared/flash' %>

    <%= content_tag :main, class: yield(:class_for_main) do -%>
      <%= yield %>
    <%- end -%>

    <footer class="<%= yield(:class_for_footer) %>">
      <%= render 'shared/footer' %>
    </footer>

    <div data-modal-mount-point></div>

    <%= javascript_include_tag 'application' %>
    <%= pagescript %>
    
  </body>

</html>
