<!DOCTYPE html>
<html>
  <head>
    <title>CloudChart</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= render 'shared/meta' %>
    <%= render 'shared/bugherd' if %w(production staging).include?(Rails.env) %>
  </head>

  <body>
    <%= render 'shared/header' %>

    <%= render 'shared/flash' %>

    <%= content_tag :main, class: yield(:class_for_main) do -%>
      <%= yield %>
    <%- end -%>

    <footer class="<%= yield(:class_for_footer) %>">
      <%= render 'shared/footer' %>
    </footer>

    <div data-modal-mount-point></div>

    <%= javascript_include_tag 'application' %>
    <%= pagescript %>
    
  </body>

</html>
