<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <%= favicon_link_tag "#{Rails.env}/favicon.ico" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="<%= Rails.env %>">
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>

    <main class="<%= yield(:class_for_main) %>">
      <%= yield %>
    </main>

    <footer class="<%= yield(:class_for_footer) %>">
      <%= render 'shared/footer' %>
    </footer>

    <div data-react-class="components/modal_stack"></div>

    <%- if show_tour? %>
      <div data-react-class="components/tour/trigger"></div>
    <%- end %>

    <%= javascript_include_tag 'application' %>
    <%= pagescript unless controller_name == 'errors' %>
    <%= render 'shared/google_analytics' if Rails.env.production? %>
  </body>

</html>
