<!DOCTYPE html>
<html>
  <head>
    <title>Cloudchart</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=1200; user-scalable=no">
  </head>

  <body>
    <%= render 'shared/header' %>

    <%= render 'shared/flash' %>

    <main>
      <%# render 'shared/notice' %>
      <%= yield %>
    </main>

    <footer>
      <%= render 'shared/footer' %>
    </footer>

    <%= javascript_include_tag 'application' %>
    <%= pagescript %>
  </body>

</html>
