<!DOCTYPE html>
<html>
    <head>
      <title>Cloudchart</title>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
            header
        </header>

        <main>
            <p id="notice"><%= notice %></p>
            <p id="alert"><%= alert %></p>
            <%= yield %>
        </main>

        <footer>
            footer
        </footer>

        <%= javascript_include_tag "application" %>
    </body>
</html>
