<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/meta' %>
    <%= favicon_link_tag "#{Rails.env}/favicon.ico" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="<%= Rails.env %>">

    <%= content_tag :header, nil, data: {
      "react-class" => "components/header_app",
      "react-props" => {
        title:        app_name_for_header,
        root_url:     main_app.root_path,
        login_url:    cloud_profile.login_path,
        logout_url:   cloud_profile.logout_path,
        links: [
          {
            title:  'Companies',
            url:    current_page?(main_app.companies_path) ? nil : main_app.companies_path
          },
          {
            title:  'Insights',
            url:    current_page?(main_app.insights_path) ? nil : main_app.insights_path
          }
        ],
        user: user_authenticated? ? {
          id:     current_user.id,
          name:   current_user.full_name,
          url:    user_path(current_user)
        } : {}
      }
    } -%>

    <%= render 'shared/flash' %>

    <main class="<%= yield(:class_for_main) %>">
      <%= yield %>
    </main>

    <footer class="<%= yield(:class_for_footer) %>">
      <%= render 'shared/footer' %>
    </footer>

    <div data-react-class="components/modal_stack"></div>

    <%= javascript_include_tag 'application' %>
    <%= pagescript unless controller_name == 'errors' %>
    <%= render 'shared/google_analytics' if Rails.env.production? %>
  </body>

</html>
