<!DOCTYPE html>
<html>
  <head>
    <title>CloudChart</title>
    <%= favicon_link_tag "#{Rails.env}/favicon.ico" %>
    <%= stylesheet_link_tag 'landing', media: 'all' %>
    <%= render 'shared/meta' %>
  </head>

  <body>
    <header class="landing">
      <%= render 'welcome/header' %>
    </header>

    <main class="landing">
      <%= yield %>
    </main>

    <footer class="landing">
      <%= render 'welcome/footer' %>
    </footer>

    <div data-react-class="components/modal_stack"></div>

    <%= javascript_include_tag 'application' %>
    <%= pagescript %>
    <%= render 'shared/google_analytics' if Rails.env.production? %>
  </body>

</html>
