<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{ENV['SITE_NAME']} — #{t('meta.slogan')}" %></title>
    <meta name="description" content="<%= t('meta.app_description') %>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="insights.VC">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "#{Rails.env}/favicon.ico" %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'main' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'move' %>
    <%= javascript_include_tag 'main.bundle' %>
    <%= render 'shared/google_analytics' if Rails.env.production? %>
  </body>
</html>
